@use "../../scss/index" as *;

.button {
  width: 150px;
  height: 50px;
  display: inline-block;
  @include flex(center, center, row);
  background-color: $purple;
  border-radius: 30px;
  color: $white;
  transition: 0.5s;
  position: relative;
  z-index: 10;

  &:hover {
    background-color: $black;
    transition: 0.5s;
  }
}

@media screen and (max-width: 550px) {
  .button {
    width: 130px;
    height: 45px;
    font-size: 14;
  }
}
@media screen and (max-width: 350px) {
  .button {
    width: 120px;
    height: 35px;
    font-size: 13px;
  }
}
