@use "../scss/index" as *;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Open+Sans&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $roboto;
}

a {
  text-decoration: none;
  color: unset;
}

button,
input {
  outline: 0;
}

ul {
  list-style-type: none;
}
